#portfolio-nav {
  background: #003366;
  color: white;
  text-align: center;
  padding: 0.5em 0;
  width: 100vw;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  margin: 0;
  box-shadow: 0 2px 12px #1115;
}
#portfolio-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#portfolio-nav ul li {
  display: inline;
  margin: 0 15px;
}
#portfolio-nav a {
  color: #FFD700;
  font-weight: bold;
  text-decoration: none;
}
#portfolio-nav a:hover {
  text-decoration: underline;
}

/* Make sure content is visible below the fixed nav */
body {
  padding-top: 54px;
}

/*
 * Downloaded using Bootstrap CSS Example for cover template
 */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */
.cover-container {
  max-width: 42em;
}

/*
 * Header
 */
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}
.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}
.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
